<%- include('header'); -%>
    <div class="bg-warning min-vh-100 d-flex align-items-center">
        <div class="container col-md-4">
            <h1> Quiz System </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sunt quam architecto placeat eius quo sed nobis assumenda, voluptatibus officiis, dolorem corporis enim ex totam omnis debitis. Omnis, voluptatibus quaerat!</p>
            <a href="/login" class="btn bg-white">Sign in</a>
        </div>
    </div>
<%-include('footer'); -%>