@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Outfit:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap");
* {
  font-family: 'Nova Square', cursive;
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.text-blue {
  color: #000099;
}

.bg-blue {
  background-color: #000099;
}

.active {
  background-color: #000099;
}

.body-bg {
  background: #000099;
}

.body-bg form {
  box-shadow: 0 1px 5px white;
}

.body-bg form h2 {
  color: #000099;
}

.body-bg form a {
  color: #000099;
  text-decoration: none;
}

.body-bg form .submit {
  font-weight: bold;
  background-color: #000099;
  color: white;
  box-shadow: 0 1px 5px #000099;
}
