@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Outfit:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap");
* {
  font-family: 'Nova Square', cursive;
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.text-blue {
  color: #000099;
}

.bg-blue {
  background-color: #000099;
}

.welcome {
  background-color: #000099;
}
